<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-Type" content="text/html" charset="utf-8">
  <title>제출자 메인화면</title>
</head>

<body>
  <h1>제출자 메인화면</h1>
  <div id="task-all">
    <h2>
      <전체 태스크 목록>
    </h2>
    {% for task in all %}
    <div class="task">
      <span>{{task.TaskName}}</span>
      <span class="taskdesc">"{{task.describe}}"</span>
    </div>
    {% endfor %}
  </div>

  <div id="parTasks">
    <h2>
      <참여 중인 태스크 목록> 현재 나의 평가점수 : {{evalscore}}
    </h2>
    {% for task in accepted %}
    <div class="task">
      <span>{{task.TaskName}}</span>
      <a href="">제출하기</a>
      <a href="">제출현황</a>
    </div>
    {% endfor %}
  </div>

  <div id="notparTasks">
    <h2>
      <미참여 중인 태스크 목록>
    </h2>
    <div id="waiting">
      <h3>
        <승인 대기중인 태스크 목록>
      </h3>
      {% for task in waiting %}
      <div class="task">
        <span>{{task.TaskName}}</span>
      </div>
      {% endfor %}
    </div>
    <div id="notAccepted">
      <h3>
        <승인받지 못한 태스크 목록>
      </h3>
      {% for task in not_accepted %}
      <div class="task">
        <span>{{task.TaskName}}</span>
      </div>
      {% endfor %}
    </div>
    <div id="notApplied">
      <h3>
        <신청하지 않은 태스크 목록>
      </h3>
      {% for task in not_applied %}
      <div class="task">
        <span>{{task.TaskName}}</span>
        <a href="{% url 'submitter:taskApply' taskid=task.TaskID %}">참여신청</a>
      </div>
      {% endfor %}
    </div>
  </div>
</body>

</html>