<!DOCTYPE html>
<html>

<body>
  <div>
    <h1>개인 정보 수집 및 동의 안내</h1>
    <p>
      {{user}}님, 태스크 {{taskname}} 참여 신청을 위한 개인 정보 수집 및 이용에 동의하십니까? <br>
      YES를 선택하실 경우, 동의하신 걸로 간주되며 자동으로 태스크 참여 신청이 완료됩니다.
    </p>
    <form method="POST" class="post-form">
      {%csrf_token%}
      <button id="yes" onclick="apply();">YES</button>
      <button><a href="{% url 'submitter:submitMain' %}" ; onClick="alert('참여신청이 취소되며 메인화면으로 돌아갑니다.')">NO</a></button>
    </form>
  </div>
</body>

<script>
  function apply() {
    alert('참여신청이 완료되었습니다. 메인화면으로 돌아갑니다');
    jQuery("form").submit();
  }
</script>

<style>
  h1 {
    font-weight: bold;
    color: #2773E2;
    text-align: center;
  }

  div {
    width: 50%;
    text-align: center;
    border: 1px dotted black;
    margin: 100px auto;
    padding: 100px 0;
  }

  p {
    font-size: 20px;
    margin-bottom: 30px;
  }

  a,
  button {
    font-size: 15px;
    text-decoration: none;
    background-color: #2773E2;
    color: white;
    padding: 10px;
    border: 0;
    width: 60px;
  }
</style>

</html>
