<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-Type" content="text/html" charset="utf-8">
  <title>태스크 신청 취소</title>
</head>

<body>
  <div>
    <p> 정말로 태스크 신청을 취소하시겠습니까?</p>
    <form method="POST">
      {%csrf_token%}
      <button type="submit">네</button>
      <a href="{% url 'submitter:submitMain' %}">아니오</a>
    </form>
  </div>
</body>

<style>
  a,
  button {
    border: 0;
    font-size: 15px;
    text-decoration: none;
    background-color: #2773E2;
    color: white;
    padding: 10px;
  }
</style>

</html>