<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-Type" content="text/html" charset="utf-8">
  <title>잘못된 접근</title>
</head>

<body>
  <div>
    <h1>안내</h1>
    <p>잘못된 접근입니다. <br>메인 화면으로 이동합니다.</p>
    <a href="{% url 'submitter:submitMain'%}">확인</a>
  </div>
</body>

<style>
  h1 {
    font-weight: bold;
    color: #2773E2;
    text-align: center;
  }

  div {
    width: 50%;
    text-align: center;
    border: 1px dotted black;
    margin: 100px auto;
    padding: 100px 0;
  }

  p {
    font-size: 20px;
    margin-bottom: 30px;
  }

  a {
    font-size: 15px;
    text-decoration: none;
    background-color: #2773E2;
    color: white;
    padding: 10px;
  }
</style>

</html>